:root {
  --green: #2cd326;
}

* {
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #fffdfe;
}

section {
  padding: 2rem 9%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  font-size: large;
}

.inner-product img {
  width: 250px;
  padding: 1rem;
  animation: float 3s linear infinite;
}

.header .logo img {
  width: 400px;
}

.navbar a {
  font-size: 18px;
  margin-left: 8px;
  color: #1cb91c;
}

.menu-button {
  display: inline-block;
  padding: 1.5rem;
  background-color: var(--green);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu-button a {
  color: white;
}

.menu-button:hover {
  border: 2px solid var(--green);
  background: none;
}

.menu-button:hover a {
  color: white;
}

.about-heading {
  text-align: center;
  font-size: 30px;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

p {
  text-align: justify;
  font-size: 20px;
  color: #0b0c0b;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 20rem; /* Please verify if this large padding-bottom value is intended */
}

.products {
  padding: 2rem 7%;
}

.products h1 {
  font-size: 40px;
  gap: 15px;
  color: #0da812;
  text-align: center;
}

.main-products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inner-product {
  flex: 1 1 300px;
  position: relative;
}

.product-content h3,

.product-content i {
  position: absolute;
}

.product-content h3 {
  color: white;
  background-color: #2cd326;
  padding: 1.5rem 2rem;
  z-index: 100;
}

.product-content h3:hover {
  border: 1px solid black;
  color: var(--green);
  background: white;
  cursor: pointer;
}

.product-content i {
  top: 10px;
  right: 0;
  font-size: 18px;
  color: var(--green);
  z-index: 100;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

@media (max-width: 769px) {
  .menu-bar {
    display: initial;
  }
}